:root {
    --gutter-global: 24px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
}

header {
    text-align: center;
    margin: var(--gutter-global);
}

main {
    padding: var(--gutter-global);
}

#intro {
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro p {
    width: 600px;
    text-align: justify;
}

footer {
    text-align: center;
}
